/*----- Basic typo -----*/
/*----------------------------------------*/
body { color: rgba(25,28,47,0.65); background-color: #fff; }
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #191c2f; }
a { color: #191c2f; }
a:hover { color: #1732a4; }

/*----------------------------------------*/
/*----- Backgrounds -----*/
/*----------------------------------------*/
.bg-trans { background-color: transparent !important; }
.bg-white { background-color: #fff !important; }
.bg-grey { background-color: #f3f5fa !important; }
.bg-dark-grey { background-color: rgba(25,28,47,0.65) !important; }
.bg-dark { background-color: #191c2f !important; }
.bg-blue { background-color: #ea580c !important; }
.bg-light-blue { background-color: #d1d6ed !important; }
.bg-dark-blue { background-color: #ea580c !important; }
.bg-red { background-color: #123a98 !important; }
.bg-light-red { background-color: #ffcdcd !important; }

/*----------------------------------------*/
/*----- Overlays -----*/
/*----------------------------------------*/
.dtr-overlay { background-color: rgba(0, 0, 0, .5); }
.dtr-overlay-blue { background-color: #ea580c; }
.dtr-overlay-red { background-color: #123a98; }

/*----------------------------------------*/
/*----- Text -----*/
/*----------------------------------------*/
/*== dark ==*/
.color-dark { color: #191c2f; }
/*== white ==*/
.color-white, .color-white h1, .color-white h2, .color-white h3, .color-white h4, .color-white h5, .color-white h6, .color-white a { color: #fff; }
/*== white muted ==*/
.color-white-muted, .color-white-muted h1, .color-white-muted h2, .color-white-muted h3, .color-white-muted h4, .color-white-muted h5, .color-white-muted h6, .color-white-muted a { color: rgba(255,255,255,.6); }
/*== grey ==*/
.color-grey { color: rgba(23,50,164,0.10) !important; }
.color-grey-muted { color: #e7eaf6 !important; }
/*== blue ==*/
.color-blue { color: #1732a4 !important; }
/*== red ==*/
.color-red { color: #123a98 !important; }
.color-red-muted { color: #ffecec !important; }
/*== yellow ==*/
.color-yellow { color: #fff600 !important; }

/*----------------------------------------*/
/*----- Borders -----*/
/*----------------------------------------*/
.border-white { border-color: #fff !important; }
.border-white-muted, .border-white-muted li { border-color: rgba(255,255,255,0.10) !important; }
.border-grey { border-color: rgba(23,50,164,0.10) !important; }
.border-blue { border-color: #1732a4 !important; }
.border-dark { border-color: rgba(25,28,47,0.65) !important; }
.border-red { border-color: #123a98 !important; }

/*----------------------------------------*/
/*----- Buttons -----*/
/*----------------------------------------*/
#submit, input[type="submit"] { background-color: #191c2f; border-color: #191c2f; color: #fff; }
#submit:hover, input[type="submit"]:hover { color: #fff; }
.dtr-btn i { color: inherit !important; }

/*-- white --*/
.btn-white { background-color: #fff; border-color: rgba(23,50,164,0.10); color: #191c2f; }
.btn-white:hover { background-color: #fff; border-color: rgba(23,50,164,0.10); color: #191c2f; }
.btn-flat-white { border-color: #fff; color: #fff; }
.btn-flat-white:hover { border-color: #123a98; background-color: #123a98; color: #ffffff; }

/*-- grey --*/
.btn-grey { background-color: #f3f5fa; border-color: #f3f5fa; color: #191c2f; }
.btn-grey:hover { background-color: #f3f5fa; border-color: #f3f5fa; color: #191c2f; }
.btn-flat-grey { border-color: #f3f5fa; color: #191c2f; }
.btn-flat-grey:hover { background-color: #f3f5fa; color: #191c2f; }

/*-- blue --*/
.btn-blue { background-color: #1732a4; border-color: #1732a4; color: #fff; }
.btn-blue:hover { background-color: #1732a4; border-color: #1732a4; color: #fff; }
.btn-flat-blue { border-color: #1732a4; color: #1732a4; }
.btn-flat-blue:hover { background-color: #1732a4; color: #fff; }

/*-- red --*/
.btn-red { background-color: #123a98; border-color: #123a98; color: #fff; }
.btn-red:hover { background-color: #191c2f; border-color: #191c2f; color: #fff; }
.btn-flat-red { border-color: #123a98; color: #ff5858; }
.btn-flat-red:hover { background-color: #123a98; color: #fff; }

/*----------------------------------------*/
/*----- Forms -----*/
/*----------------------------------------*/
label, input, select, textarea,
input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="number"],
input[type="tel"], input[type="search"] { color: #191c2f; }

select, textarea,
input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="number"],
input[type="tel"], input[type="search"] {
background-color: #fff;
border-color: #e7eaf6;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus {
border-color: #1e38a7;
outline: none;
}

.dtr-form .error { color: #ff5858; }

/*----------------------------------------*/
/*----- Header -----*/
/*----------------------------------------*/
#dtr-header-global { background-color: #fff; }
#dtr-header-global.trans-header { background-color: transparent; }
#dtr-header-global.on-scroll { background-color: #fff; }
#dtr-header-global.on-scroll .on-scroll-color-dark { color: #191c2f !important; }

/*----------------------------------------*/
/*----- Footer -----*/
/*----------------------------------------*/
.dtr-footer-main { background-color: #191c2f; }
.dtr-copyright { background-color: #123a98; }

/*----------------------------------------*/
/*----- Elements -----*/
/*----------------------------------------*/
.dtr-preloader { background: #ea580c; }
.dtr-blog-date { background-color: #ea580c; color: #fff; }
.dtr-testimonial-icon::before { background-color: #123a98; color: #fff; }
.dtr-testimonial-user img { border-color: #123a98; }
.dtr-sticky-tabs { background-color: #ea580c; }
.dtr-sticky-tabs-nav .nav-link:hover,
.dtr-sticky-tabs-nav .nav-link.active { color: #123a98; }
